<div class="container py-4">
    <%- include("../../partials/filsDAriane.ejs") %>
    <h4 class="mt-5 mb-3 text-primary">Appliquer un filtre</h4>
    <div class="d-flex justify-content-between " >
        <div class="mb-3 d-flex gap-3">
            <!-- Barre de recherche -->
            <form action="/demandes/reclamation" method="GET" class="d-flex gap-2">
                <div class="col-md-4">
                    <label class="form-label fw-semibold">Rechercher </label>
                    <input type="text" name="q" class="form-control" placeholder="Rechercher par nom, prénom, email...">
                </div>

                <!-- Filtre par filière -->

                <div class="col-md-2">
                    <label class="form-label fw-semibold">Filiere </label>
                    <select name="filiere" class="form-select">
                        <option value="">Toutes</option>
                        <option value="3ER">3ER</option>
                        <option value="AB">AB</option>
                        <option value="AG">AG</option>
                        <option value="CFA">CFA</option>
                        <option value="GI">GI</option>
                        <option value="HT">HT</option>
                        <option value="MA">MA</option>
                        <option value="MC">MC</option>
                    </select>
                </div>

                <!-- Filtre par promotion -->
                <div class="col-md-2">
                    <label class="form-label fw-semibold">Statut </label>
                    <select name="statut" class="form-select">
                        <option value="">Tous</option>
                        <option value="En attente">En attente</option>
                        <option value="Validee">Validee</option>
                        <option value="Rejetee">Rejetee</option>
                        
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="form-label fw-semibold">Niveau </label>
                    <select name="niveau" class="form-select">
                        <option value="">Tous</option>
                        <option value="L1">L1</option>
                        <option value="L2">L2</option>
                        <option value="L3">L3</option>
                    </select>
                </div>

                <div class="col-md-1 d-flex flex-column justify-content-end">
                    <button type="submit" class="btn btn-primary border-0">
                        <i class="bi bi-search"></i>
                    </button>
                </div>

            </form>
        </div>
        <div class="align-content-center">
             <%- include("../../partials/btnAjout") %>
        </div>
       
    </div>
        
</div>

        <div class="form-section bg-white">
            <div class="form-section-header border-info">
                <h3 class="fw-bold text-primary">
                    <i class="bi bi-award fs-1 me-2"></i>Demandes de diplome
                </h3>
            </div>

            <table class="table table-borderless table-hover table-responsive text-center border-0 shadow p-5">
                <thead class="bg-dark text-white">
                    <th>Date</th>
                    <th>Demande</th>
                    <th>Demandeur</th>
                    <th>Niveau</th>
                    <th>Filiere</th>
                    <th>Promotion</th>
                    <th>Matricule</th>
                    <th>periode</th>
                    <th>Motif</th>
                    <th>statut</th>
                    <th>Actions</th>
                </thead>
                <tr>

                    <% reclamations.forEach(reclamation=>{ %>
                        <td><%= reclamation.date.toLocaleDateString("fr-FR") %></td>
                        <td>
                            <%= reclamation.identifiant %>
                        </td>
                        <td>
                            <%= reclamation.prenom %>
                                <%= reclamation.nom %>
                        </td>
                        <td>
                            <%=reclamation.niveau %>
                        </td>
                        <td>
                            <%=reclamation.filiere %>
                        </td>
                        <td>
                            <%=reclamation.promotion %>
                        </td>
                        <td>
                            <%=reclamation.matricule %>
                        </td>
                        <td>
                            <%= reclamation.session %>
                        </td>
                        <td>
                            <%=reclamation.motif %>
                        </td>
                        <td class="m-2 badge <%= reclamation.statut==="En attente"? "bg-primary-subtle text-primary"
                            : reclamation.statut==="validee" ?"bg-success-subtle text-success":
                            reclamation.statut==='rejetee' ?"bg-danger-subtle text-danger": "" %> "
                            > <%=reclamation.statut %>
                        </td>
                        <td>
                            <a href="/demandes/reclamation/view/<%= reclamation.identifiant %> "
                                class="badge bg-primary-subtle text-primary rounded-3 px-1 py-1">
                                <i class="bi bi-eye fs-4"></i>
                            </a>
                            <a href="/demandes/edit/reclamation/<%=reclamation.identifiant %> "
                                class="badge bg-warning-subtle text-warning rounded-3 px-1 py-1">
                                <i class="bi bi-pen fs-4"></i>
                            </a>
                            <a href="" class="badge bg-success-subtle text-success rounded-3 px-1 py-1">
                                <i class="bi bi-check2-circle fs-4"></i>
                            </a>
                            <a href="" class="badge bg-danger-subtle text-danger rounded-3 px-1 py-1">
                                <i class="bi bi-x-circle fs-4"></i>
                            </a>

                            <a action="/demandes/reclamation/delete/<%=reclamation.identifiant %> " method="POST"
                                class="badge bg-danger-subtle text-danger rounded-3 px-1 py-1">
                                <button class="bi bi-trash fs-4 text-danger bg-danger-subtle" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal-<%= reclamation.identifiant %>"> <i></i> </button>

                                <div class="modal fade" id="deleteModal-<%= reclamation.identifiant %>" tabindex="-1"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header bg-danger text-white">
                                                <h5 class="modal-title">Confirmation de suppression</h5>
                                                <button type="button" class="btn-close btn-close-white text-primary"
                                                    data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Voulez-vous vraiment supprimer la demande <strong>
                                                        <%= reclamation.identifiant %>
                                                    </strong> ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="reset" class="btn btn-primary border-0"
                                                    data-bs-dismiss="modal">Annuler</button>
                                                <form
                                                    action="/demandes/reclamation/delete/<%= reclamation.identifiant %>"
                                                    method="POST">
                                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </td>

                </tr>
                <% }) %>
            </table>
        </div>
