<div class="container-fluid py-4">

    <%- include("../../partials/filsDAriane.ejs") %>
</div>
<div class="bg-white px-4 py-4">
    <div class="row g-3">
        <div class="form-section-header border-danger d-flex justify-content-between">
            <div class="">
                <h3 class="fw-bold text-primary">
                    <i class="bi bi-mortarboard-fill fs-1 me-2"></i>Informations sur l'étudiant
                </h3>
            </div>
        </div>

        <!-- Civilité -->
        <div class="col-md-1">
            <p class="form-label fw-semibold">Civilité :</p> 
            <span><%= reclamation.civilite %></span>
        </div>

        <!-- Nom complet -->
        <div class="col-md-3">
            <p class="form-label fw-semibold">Nom Complet :</p> 
            <span><%= reclamation.prenom %> <%= reclamation.nom %></span>
        </div>

        <!-- Filière -->
        <div class="col-md-2">
            <p class="form-label fw-semibold">Filière :</p> 
            <span><%= reclamation.filiere %></span>
        </div>

        <!-- Niveau -->
        <div class="col-md-2">
            <p class="form-label fw-semibold">Niveau :</p> 
            <span><%= reclamation.niveau %></span>
        </div>

        <!-- Promotion -->
        <div class="col-md-2">
            <p class="form-label fw-semibold">Promotion :</p> 
            <span><%= reclamation.promotion %></span>
        </div>

        <!-- Matricule -->
        <div class="col-md-2">
            <p class="form-label fw-semibold">Numéro matricule :</p> 
            <span><%= reclamation.matricule %></span>
        </div>
    </div>

    <hr class="mx-4">

    <div class="form-section bg-white">
        <div class="form-section-header border-danger">
            <h3 class="fw-bold text-primary">
                <i class="bi bi-exclamation-triangle fs-1 me-2"></i>Informations sur la réclamation
            </h3>
        </div>

        <div class="row">
            <!-- Identifiant -->
            <div class="col-md-4">
                <p class="form-label fw-semibold">Id :</p> 
                <span><%= reclamation.identifiant %></span>
            </div>

            <!-- Matière concernée -->
            <div class="col-md-4">
                <p class="form-label fw-semibold">Matière :</p> 
                <span><%= reclamation.matiere %></span>
            </div>

            <!-- Professeur -->
            <div class="col-md-4">
                <p class="form-label fw-semibold">Professeur :</p> 
                <span><%= reclamation.professeur %></span>
            </div>

            <!-- Session -->
            <div class="col-md-6 mt-3">
                <p class="form-label fw-semibold">Session :</p> 
                <span><%= reclamation.session %></span>
            </div>

            <!-- Motif -->
            <div class="col-md-6 mt-3">
                <p class="form-label fw-semibold">Motif :</p> 
                <span><%= reclamation.motif %></span>
            </div>

            <!-- Statut -->
            <div class="col-md-12 mt-3">
                <p class="form-label fw-semibold">Statut :</p> 
                <span class="badge 
                    <%= reclamation.statut==='En attente' ? 'bg-primary-subtle text-primary' 
                    : reclamation.statut==='validee' ? 'bg-success-subtle text-success' 
                    : reclamation.statut==='rejetee' ? 'bg-danger-subtle text-danger' : '' %>">
                    <%= reclamation.statut %>
                </span>
            </div>
        </div>
    </div>
</div>
