<div class="container-fluid py-4">

    <%- include("../../partials/filsDAriane.ejs") %>
</div>
<div class="bg-white px-4 py-4">
    <div class="row g-3">
        <div class="form-section-header border-success d-flex justify-content-between">
            <div class="">
                <h3 class="fw-bold text-primary">
                    <i class="bi bi-envelope-paper fs-1 me-2"></i>Informations sur l'étudiant
                </h3>
            </div>
        </div>

        <!-- Civilité -->
        <div class="col-md-1">
            <p class="form-label fw-semibold">Civilité :</p> 
            <span><%= recommandation.civilite %></span>
        </div>

        <!-- Nom complet -->
        <div class="col-md-3">
            <p class="form-label fw-semibold">Nom Complet :</p> 
            <span><%= recommandation.prenom %> <%= recommandation.nom %></span>
        </div>

        <!-- Filière -->
        <div class="col-md-2">
            <p class="form-label fw-semibold">Filière :</p> 
            <span><%= recommandation.filiere %></span>
        </div>

        <!-- Niveau -->
        <div class="col-md-2">
            <p class="form-label fw-semibold">Niveau :</p> 
            <span><%= recommandation.niveau %></span>
        </div>

        <!-- Promotion -->
        <div class="col-md-2">
            <p class="form-label fw-semibold">Promotion :</p> 
            <span><%= recommandation.promotion %></span>
        </div>

        <!-- Matricule -->
        <div class="col-md-2">
            <p class="form-label fw-semibold">Numéro matricule :</p> 
            <span><%= recommandation.matricule %></span>
        </div>
    </div>

    <hr class="mx-4">

    <div class="form-section bg-white">
        <div class="form-section-header border-success">
            <h3 class="fw-bold text-primary">
                <i class="bi bi-award fs-1 me-2"></i>Informations sur la demande de recommandation
            </h3>
        </div>

        <div class="row">
            <!-- Identifiant -->
            <div class="col-md-4">
                <p class="form-label fw-semibold">Id :</p> 
                <span><%= recommandation.identifiant %></span>
            </div>

            <!-- Type de lettre -->
            <div class="col-md-4">
                <p class="form-label fw-semibold">Type :</p> 
                <span><%= recommandation.type %></span>
            </div>

            <!-- Destinataire -->
            <div class="col-md-4">
                <p class="form-label fw-semibold">Destinataire :</p> 
                <span><%= recommandation.destinataire %></span>
            </div>

            <!-- Programme/Poste visé -->
            <div class="col-md-6 mt-3">
                <p class="form-label fw-semibold">Programme/Poste visé :</p> 
                <span><%= recommandation.programme %></span>
            </div>

            <!-- Professeur sollicité -->
            <div class="col-md-6 mt-3">
                <p class="form-label fw-semibold">Professeur sollicité :</p> 
                <span><%= recommandation.professeur %></span>
            </div>

            <!-- Note/Informations complémentaires -->
            <div class="col-md-12 mt-3">
                <p class="form-label fw-semibold">Informations complémentaires :</p> 
                <span><%= recommandation.infoSupplementaire %></span>
            </div>

            <!-- Statut -->
            <div class="col-md-12 mt-3">
                <p class="form-label fw-semibold">Statut :</p> 
                <span class="badge 
                    <%= recommandation.statut==='En attente' ? 'bg-primary-subtle text-primary' 
                    : recommandation.statut==='validee' ? 'bg-success-subtle text-success' 
                    : recommandation.statut==='rejetee' ? 'bg-danger-subtle text-danger' : '' %>">
                    <%= recommandation.statut %>
                </span>
            </div>
        </div>
    </div>
</div>
