<div class="bg-white px-4 py-4">
    <%- include("../../partials/filsDAriane.ejs") %> 
    <div class="row g-3">
        <div class="form-section-header border-info d-flex justify-content-between">
            <div class="">
                <h3 class="fw-bold text-primary">
                    <i class="bi bi-mortarboard-fill fs-1 me-2"></i>Informations sur l'étudiant
                </h3>
            </div>
        </div>

        <!-- Civilité -->
        <div class="col-md-1">
            <p class="form-label fw-semibold">Civilité :</p> 
            <span><%= frequentation.civilite %></span>
        </div>

        <!-- Nom complet -->
        <div class="col-md-3">
            <p class="form-label fw-semibold">Nom Complet :</p> 
            <span><%= frequentation.prenom %> <%= frequentation.nom %></span>
        </div>

        <!-- Filière -->
        <div class="col-md-2">
            <p class="form-label fw-semibold">Filière :</p> 
            <span><%= frequentation.filiere %></span>
        </div>

        <!-- Niveau -->
        <div class="col-md-2">
            <p class="form-label fw-semibold">Niveau :</p> 
            <span><%= frequentation.niveau %></span>
        </div>

        <!-- Promotion -->
        <div class="col-md-2">
            <p class="form-label fw-semibold">Promotion :</p> 
            <span><%= frequentation.promotion %></span>
        </div>

        <!-- Matricule -->
        <div class="col-md-2">
            <p class="form-label fw-semibold">Numéro matricule :</p> 
            <span><%= frequentation.matricule %></span>
        </div>
    </div>

    <hr class="mx-4">

    <div class="form-section bg-white">
        <div class="form-section-header border-info">
            <h3 class="fw-bold text-primary">
                <i class="bi bi-calendar-check fs-1 me-2"></i>Informations sur la demande de fréquentation
            </h3>
        </div>

        <div class="row">
            <!-- Identifiant -->
            <div class="col-md-4">
                <p class="form-label fw-semibold">Id :</p> 
                <span><%= frequentation.identifiant %></span>
            </div>

            <!-- Période -->
            <div class="col-md-4">
                <p class="form-label fw-semibold">Période :</p> 
                <span><%= frequentation.periode %></span>
            </div>

            <!-- Destination -->
            <div class="col-md-4">
                <p class="form-label fw-semibold">Destination :</p> 
                <span><%= frequentation.destination %></span>
            </div>

            <!-- Statut -->
            <div class="col-md-12 mt-3">
                <p class="form-label fw-semibold">Statut :</p> 
                <span class="badge 
                    <%= frequentation.statut==='En attente' ? 'bg-primary-subtle text-primary' 
                    : frequentation.statut==='validee' ? 'bg-success-subtle text-success' 
                    : frequentation.statut==='rejetee' ? 'bg-danger-subtle text-danger' : '' %>">
                    <%= frequentation.statut %>
                </span>
            </div>
        </div>
    </div>
</div>
